version: '3'
services:
  dev:
    image: node:11
    volumes:
      - nodemodules:/usr/src/app/node_modules
      - .:/usr/src/app
    environment:
      - NODE_ENV=development
    working_dir: /usr/src/app
    command: npm run dev
    ports:
      - 3000:3000
volumes:
  nodemodules:
    external: true